.homepagecontainer{
    width: 100%;
    background-color: red;
}

.navbaroutercontainer{
    background-color: black;
    height: 8vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.herooutercontainer{
    background-color: black;
    height: 73vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutoutercontainer{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projectsoutercontainer{
    
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.articleoutercontainer{
    height: 50vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endingoutercontainer{
    height: 50vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}