.allprojectscontainer{
    width: 80%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.allprojectssearchcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #00758F;*/
    width: fit-content;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 10px;
    overflow: hidden;
    font-size: 1rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 2.5rem;
    width: 350px;


}
.allprojectssearchcontainer input{
    background-color: transparent;
    
    /* background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid grey; */
    border: none;
    

    color: white;
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 85vw;

    font-size: 20px;
    

    
}

.allprojectssearchcontainer input::placeholder{
    color: rgb(143,144,148);
    font-size: 15px;
}

.allprojectssearchcontainer p{
    background-color: transparent;
    /* border: 1px solid grey;
    border-left: none; */


    
    /* width: 1.5vw; */
    width: 5vw;
    display: flex;
    align-items: center;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    
    

}

.allprojectsupcontainer{
    
    
    width: 100%;
}

.allprojectsdowncontainer{
    display: grid;
    width: 100%;
    column-gap: 20px;
    row-gap: 90px;
    grid-template-columns: 45% 45%;
    border: none;
    overflow: hidden;
    justify-content: space-around;

    
    
    
}

.allprojectsprojectcard img{
    height: 250px;
    width: 100%;
}
.allprojectsprojectcard{
    background-color: black;
    /* background-color: #00758F; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(37, 37, 37);
    width: 75%;


}

.allprojectsprojectcardtextsection{
    width: 95%;
}

.allprojectsprojecttitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Ubuntu";
    font-size: 1.5rem;
}

.allprojectstools{
    display: flex;
    gap: 19px;
    justify-content: left;
    align-items: center;


}
.allprojectsprojects{
    font-size: 3.75rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.allprojectsilove{
    font-size: 16px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

.allprojectstools button{
    min-width: 5rem;
    min-height: 2rem;
    border: none;
    border-radius: 6px;
    color: white;
}

.allprojectsdescription{
    font-size: 1rem;
    color: rgb(143,144,148);
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}



.allprojectsprojectcard:hover{
    cursor: pointer;
    

}

.allprojectswritepost{
    height: 5vh;
    width: 10vw;
    background-color: #5C3EE8;
    border: none;
    border-radius: 10px;
    font-size: larger;
    color: white;
}

.allprojectswritepost:hover{
    background-color: #00758F;
    cursor: pointer;
}

.projectshr{
    height: 2px;
   
    
    
    width: 100%;

    border-bottom: rgb(39, 39, 39) solid 1px;
}

.projectssechr{
    border-bottom: rgb(56, 56, 56) solid 1px;
}

.icon-react { background-color: #61DBFB; color: white; }  /* React - Light Blue */
.icon-node { background-color: #3C873A; color: white; }  /* Node.js - Green */
.icon-express { background-color: #444; color: white; }  /* Express.js - Dark Gray */
.icon-mongo { background-color: #4DB33D; color: white; }  /* MongoDB - Green */
.icon-tensorflow { background-color: #FF6F00; color: white; }  /* TensorFlow - Orange */
.icon-python { background-color: #3776AB; color: white; }  /* Python - Blue */
.icon-opencv { background-color: #5C3EE8; color: white; }  /* OpenCV - Purple */
.icon-mysql { background-color: #00758F; color: white; }  /* MySQL - Blue */
.icon-php { background-color: #777BB4; color: white; }  /* PHP - Purple */



@media(max-width:900px){
    .allprojectsdowncontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allprojectstools button{
        min-width: 3rem;
        
        
    }

    .allprojectsprojectcard{
        width: 95%;
    }

    .allprojectsprojecttitle{
        font-size: 15px;
    }

    .allprojectstools button{
        font-size: 7px;
        padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 10px;
        
    }

    .allprojectsdescription{
        font-size: 8px;
    }


    
    

}
