.articlecontainer{
    height: 40vh;
    width: 80%;
    
}

.articletopcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: white;
}

.articlebottomcontainer{
    display: grid;
    grid-template-rows: 10vh 10vh;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.articleitemscontainer{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    
}

.articleitemscontainer:hover{
    cursor: pointer;
}

.article_latest{
    font-size: 1.5rem;
    font-family: "Ubuntu";
    font-weight: 700;
}

.article_view{
    font-size: 1rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #3CCF91;
}

.article_element_title{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

.article_time{
    color: rgb(143,144,148);
    font-size: 0.875rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
    
}

.article_data{
    color: #3CCF91;
}

.article_view:hover{
    cursor: pointer;
}

@media(max-width:1000px){
    .article_latest,.article_element_title,.article_view{
        font-size: 0.875rem;
    }
    .article_time{
        font-size: 0.6rem;
    }

}