.herocontainer{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: appearanimation 5s;
    
}

@keyframes appearanimation {
    from{
        opacity:0;
        
    }
    to{
        opacity: 1;
        
    }
    
}

.heroitemscontainer{
    width: 90%;
    height: 60%;
    
    /*
    background-image: url('dots.svg');
    background-size: 10% 20%;
    background-repeat: no-repeat;
    background-position: left top;
    */
    


}
.hero_green{
    color: #3CCF91;
}

.heroheythere{
    color: #3CCF91;
    font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0416666666666667));
    font-weight: 600;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.heromyname{
    color: white;
    font-size: calc(5rem + ((1vw - 7.68px) * 5.555555555555555));
    font-weight: 700;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
.herowho{
    color: rgb(143, 144, 148);
    font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0416666666666667));
    font-weight: 600;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.herocomputerengineer{
    color: white;
    font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0416666666666667));
    font-weight: 600;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.herospecalize,.herostatus{
    color: rgb(143, 144, 148);
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944444444444444));
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}



.herobuttons{
    border: 1px solid black;
    border-radius: 10px;
    color: white;




    width: 30%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.08);
    font-weight: 600;
    font-size: 1rem;
    
    
    
}
.herobuttons:hover{
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    
}

.heroicons{
    color: #3CCF91;

    
}
.hero_buttons{
    display: flex;
    width: 40%;
    
    height: 10vh;
    justify-content: space-between;
    border-radius: 30px;

}






@media(max-width:1000px){
    .hero_buttons{
        width: 100%;
        font-size: 0.7rem;
    }
    .herobuttons{
        font-size: 0.7rem;
    }



}

