

.navbarcontainer{
    width: 80%;
    height: 100%;
    background-color: black;
    border-bottom: 1px rgb(37, 37, 37) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: toptobuttom 2s;
}
@keyframes toptobuttom {
    from{
        opacity:0;
        transform: translate(0,-120px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
    }
    
}

.navbarleftitemscontainer{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbarleftitemscontainer p:hover{
    color: red;
    cursor: help;
    
}

.navbarrightitemscontainer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuicon{
    display: none;
}

.navbarbuttons{
    background-color: transparent;
    border: none;
    color: white;
    
}

.navbarbuttons:hover{
    color: #3ccf91;
    cursor: pointer;
}

.mobilemenucontainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;

    
}

.mobilemenuitemscontainer{
    background-color: black;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow: hidden;
    z-index: 2;
    gap:30px;
}
.mobilenavbarbuttons{
    margin-left: 30px;
    height: 2vh;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
}
.mobilenavbarbuttons:hover{
    cursor: pointer;
    color: #3ccf91;
}
.crossdiv{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px rgb(34, 34, 34) solid;
    height: 4vh;
    background-color: transparent;
    color: white;
    font-size: 30px;
    
    
}

.crossdiv p{
    cursor: pointer;
}

.navbarrightitemscontainer p:hover{
    cursor: pointer;
}



@media(max-width:800px){
    .menuicon{
        display: block;
    }

    .navbarbuttons{
        display: none;
    }

    .navbarrightitemscontainer{
        justify-content: flex-end;
    }

}