.projectscontainer{
    width: 80%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    

}

.projectsleftitemscontainer{
    height: 100%;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    gap: 80px;
    color: white;
}

.projectsrightitemscontainer{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: end;
    /* background-color: #3CCF91; */
    justify-content: end;


}
.te{
    width: 70%;
}


.projects_here_some{
    font-size: 1.25rem;
    font-family: Inter,-apple-system,BlinkMacSytemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgb(143, 144, 148);
}

.projects_explore_more{
    font-size: 1.25rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #3CCF91;
}

.titlcard{
    border-radius: 8px;
    
    width: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(29, 29, 29) solid 1px;
    

    
}

.titlcard:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #3CCF91, 0 0 20px #3CCF91, 0 0 40px #3CCF91;
}

.titlcard img{
    width: 100%;
    height: 20vh;
}

.projectcontentssection{
    width: 95%;
    background-color: black;

}

.projecttitleandnavbarcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.all_creatuve_works{
    font-size: 1.5rem;
    font-family: "Ubuntu";
    font-weight: 700;

}

.projectbuttonsection{
    display: flex;
    gap: 20px;
    
    border: none;
    padding-bottom: 15px;
    border-bottom: rgb(34, 34, 34) solid 1px;
}


.projectcontentssection p{
    border: none;
    padding-top: 15px;

    color: rgb(143, 144, 148);

    padding-bottom: 10px;

}

.projectbuttonsection button{
    
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    border-radius: 10px;
}

.hereobserver{
    opacity: 0 !important;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(100px);
    
}

.displayanimation{
    opacity: 1 !important;
    filter: blur(0);
    transform: translateY(0);
}

.projecttitleandnavbarcontainer h1{
    color: white;
}









@media(max-width:900px){
    .projectscontainer{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    .projectsleftitemscontainer{
        width: 100%;
    }

    .projectsrightitemscontainer{
        width: 100%;
    }

    .te{
        width: 100%;
    }









    .all_creatuve_works{
        font-size: 0.875rem;
    }
    .projects_here_some{
        font-size: 0.6rem;
    }
    .projects_explore_more{
        font-size: 0.6rem;
    }
    .projectsprojectname{
        font-size: 0.875rem;
    }
    

    
}






