.projectscontainer{
    width: 80%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    

}

.projectsleftitemscontainer{
    height: 100%;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    gap: 80px;
    color: white;
}

.projectsrightitemscontainer{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 70px;


}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.border{
    
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    background-image: conic-gradient(from var(--angle),transparent 70%,#70e6e2);
    z-index: 100;

    
    
    

    animation: 3s borderspin  linear infinite;
    
}

@keyframes borderspin{
    0%{
        --angle:0deg;


    }
    50%{
        --angle:180deg;


    }
    
    100%{
        --angle:360deg;
    }
}




.all_creatuve_works{
    font-size: 1.5rem;
    font-family: "Ubuntu";
    font-weight: 700;

}
.projects_here_some{
    font-size: 1.25rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgb(143, 144, 148);
}

.projects_explore_more{
    font-size: 1.25rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #3CCF91;
}


.projectsproject1container{
    
    width: 98%;
    overflow: hidden;
    background-color: black;
    
    border-radius: 1px;
    color: white;

}

.projects_hr{
    height: 0.3px;
    border: none;
    background-color: white;
}

.projectsproject1container img{
    height: 50%;
    width: 100%;
    
}
.projectsproject1{
    display: flex;
}


.projectsnameandlink{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsexternallink{
    color: white;
}
.projectsprojectname{
    color: white;
    font-family: "Ubuntu";
    font-size: 1.5rem;
}
.project_descriptions{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}
.projects_buttons{
    font-weight: 600;
    font-size: 0.875rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    display: flex;
    
    justify-content: left;
    align-items: center;
    
    
    
}
.projects_buttons button{
    
        height: 1.5rem;
        width: 5.9rem;
        
        border-radius: 10px;
        border: none;
        color: white;
        
    
    
}


.ninetyfivewidth{
    width: 95%;
}

.projects_descriptionss{
    font-size: 1rem;
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgb(143, 144, 148);
}



.projectsreact{
    background-color: rgb(116, 185, 246);
    width: 100px;
}

.projectsnode{
    background-color: green;
}

.projectsexpress{
    background-color: rgb(223, 223, 106);
}

.projectsmongo{
    background-color: green;
}
.projectspython{
    background-color: yellow;
}
.projectstensorflow{
    background-color: orange;
}
.projectsopencv{
    background-color: blue;
}

.projectsproject2{
    display: flex;
    
}

.projectsproject2container{
    background-color: black;
    
    border-radius: 1px;
    overflow: hidden;
    width: 98%;
    color: white;
}

.projectsproject2container img{
    height: 50%;
    width: 100%;
}





.bottomtotopanimationclass1{
    animation: bottomtotopanimation1 5s;
}

@keyframes bottomtotopanimation1{
    from{
        transform: translateY(300px);
        
    }
    to{
        transform: translateY(0);
        
    }
}

@media(max-width:900px){
    .all_creatuve_works{
        font-size: 0.875rem;
    }
    .projects_here_some{
        font-size: 0.6rem;
    }
    .projects_explore_more{
        font-size: 0.6rem;
    }
    .projectsprojectname{
        font-size: 0.875rem;
    }
    .projects_buttons{
        height: 15px;
        overflow: hidden;
        background-color: black;
        
    }
    .projects_buttons button{
        height: 100%;
        border-radius: 5px;
        font-size: 5px;
    }
    .projects_descriptionss{
        font-size: 0.6rem;
    }
}






